%footer.footer
  %nav.utility
    %ul
      %li= link_to "GitHub", 'https://github.com/danpal/fantastic-galleria'
      %li= link_to "FAQ", '#'

  .copyright
    %p
      Fantastic Galleria is free software
      

