/[if lt IE 9]
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
/[if lt IE 8] <haml:loud> stylesheet_link_tag 'ie' </haml:loud>
= stylesheet_link_tag 'custom', :media => 'screen'
= stylesheet_link_tag 'galleria.css', :media => 'screen'
